@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);


.header {
    display: flex;
    margin: 45px auto 0;
    max-width: 880px;
    height: 74px;
    border-bottom: 1px solid grey;
    border-color: rgba(84, 84, 84, .7);
}

.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

.content {

}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 40px;
    max-width: 880px;
}

.profile__avatar {
    border-radius: 50%;
    max-width: 150px;
}

.profile__info {
    max-width: 336px;
    height: 73px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 16px 18px;
}

.section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.section-subtitle {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button {
    max-width: 24px;
    max-height: 24px;
    border-color: rgba(255, 255, 255, 1);
}

.profile__add-button {
    max-width: 150px;
    max-height: 150px;
    border-color: rgba(255, 255, 255, 1);
}

.elements {
    max-width: 880px;
    margin: 50px auto 66px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
}

.element {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 282px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 361px;
}

.element__img {
    width: 282px;
    min-height: 282px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.element__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 246px;
    margin: 25px 15px 31px 21px;
}

.element__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__vector {
    max-width: 22px;
    max-height: 19px;
}

.footer {
    max-width: 318px;
    margin: 0 762px 60px 200px;
}

.footer__copyrights {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}