@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);


.header {
    display: flex;
    margin: 45px auto 0;
    max-width: 880px;
    min-height: 74px;
    border-bottom: 1px solid grey;
    border-color: rgba(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320;
        min-height: 56px;
        margin: 0;
    }
}

.header__logo {
    max-width: 142px;
    margin-bottom: 31.6px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
        min-height: 24.4px;
        margin: 28px 189.26px 31.6px 27px;
    }
}

.content {

}

.profile {
    display: flex;
    align-items: center;
    margin: 40px auto 40px;
    max-width: 880px;
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
    }
}

.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
}

.profile__info {
    max-width: 336px;
    min-height: 73px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 16px 18px;
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin: 26px auto 36px;
        justify-content: center;
        gap: 14px 10px;
    }
}

.section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .section-title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

.section-subtitle {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .section-subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}


.profile__edit-button {
    background: url('../../images/Edit Button.svg') no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    border-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px; 
    }
}


.profile__edit-button:hover {
    opacity: .6;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    border-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: none;
    background-size: contain;
    background: url('../../images/Add Button.svg') center no-repeat;
    margin-left: 244px;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
        margin: 0;
        background: url('../../images/Add Button_mobile.svg') center no-repeat;
    }
}

.profile__add-button:hover {
    opacity: .6;
}

.elements {
    max-width: 880px;
    margin: 50px auto 66px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr); 
        justify-items: center;
    }
}

.element {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 282px;
    background: #FFF;
    border-radius: 10px;
    height: 361px;
}

.element__img {
    width: 282px;
    min-height: 282px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.element__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 246px;
    margin: 25px 15px 31px 21px;
}

.element__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__vector {
    border: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
    background: url('../../images/Сердце.svg') center no-repeat;
    flex-shrink: 0
    
}

.element__vector:hover {
    opacity: .6;
}

.element__vector_active {
    background: url('../../images/цёрное сердце.svg') center no-repeat;
    flex-shrink: 0;
}

.footer {
    max-width: 318px;
    margin: 0 762px 60px 200px;
}


@media screen and (max-width: 767px) {
    .footer {
        max-width: 284px;
        margin: 48px auto 46px;
    }
}

.footer__copyrights {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
    max-width: 318px;
}

@media screen and (max-width: 767px) {
    .footer__copyrights {
        font-size: 14px;
        line-height: 17px
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
}

.popup_opened {
    display: flex;
}

.popup__container {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    width: 430px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
        height: 322px;  
    }
}

.popup__exit {
    border: 0;
    position: absolute;
    background-color: transparent;
    background: url('../../images/Крестик.svg') center no-repeat;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    background-size: contain;
}

@media screen and (max-width: 767px) {
    .popup__exit {
        top: -40px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}

.popup__exit:hover {
    opacity: .6;
}

.popup__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 34px 64px 0 36px;
}

@media screen and (max-width: 767px) {
    .popup__header {
        margin: 25px 22px 75px 22px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
    width: 358px;
    height: 28px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: 238px;  
    }
}

.popup__input:focus {
    outline: none;
}

.popup__input_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 36px;
    margin-top: 54px;
}

@media screen and (max-width: 767px) {
    .popup__input_name {
        margin-left: 22px;
        margin-top: 0; 
    }
}

.popup__input_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 36px;
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    .popup__input_description {
        margin-left: 22px;
    }
}

.popup__edit {
    background-color: rgba(0, 0, 0);
    padding: 0;
    color: #fff;
    margin: 48px 36px 37px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    width: 358px;
    min-height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .popup__edit {
        width: 238px;
        min-height: 46px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 45px 22px 25px;
    }
}

.popup__edit:hover {
    background-color: rgba(0, 0, 0, .8);
}